/*SHELL*/
@media screen {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        background-color: #fff;
        font-family: Arial;
        height: 100%;
        margin: 0;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] {
        }
    }

    body > header, body > footer {
        display: flex;
        display: webkit-flex;
    }

    body > header > section, body > footer > section {
        width: 100%;
    }

    blocks {
        width: 100%;
    }

    blocks, block, box, card {
        display: flex;
        display: webkit-flex;
        flex-direction: column;
        position: relative;
    }

    block > section, card > section, box > section {
        width: 100%;
    }

    block > picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    flex, column, row {
        display: flex;
        display: webkit-flex;
    }

    column {
        flex-direction: column;
    }

    row {
        flex-direction: row;
    }

    form {
        margin: 0;
    }

    form > * {
        width: 100%;
    }

    main {
        display: flex;
        display: webkit-flex;
        /* height: 100%; */
        overflow: visible;
        position: relative;
    }

    ico {
        align-items: center;
        display: flex;
        display: webkit-flex;
        justify-content: center;
    }

    ico:not([data-height]) {
        height: 50px;
    }

    ico:not([data-width]) {
        width: 50px;
    }

    iframe {
        border: 0;
    }

    input {
        -webkit-appearance: none;
    }

    input:focus {
        outline: none;
    }

    [type="text"], [type="password"] {
        background: none;
        border: unset;
        padding: 0;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    page, pages {
        display: flex;
        position: relative;
    }

    body > page, body > pages {
        z-index: 123456789;
    }

    [placeholder]:not(input):empty:before {
        content: attr(placeholder);
    }

    [data-hide]:not([data-active="true"]), [data-page]:not([data-active="true"]):not(.-active), [data-pages]:not([data-active="true"]):not(.-active) {
        display: none;
    }
}

/*BACKGROUND COLOR*/
@media screen {
    .background-color-000 {
        background-color: #000;
    }

    .background-color-1d2327 {
        background-color: #1d2327;
    }
}

/*COLOR*/
@media screen {
    .color-fff {
        color: #fff;
    }
}

/*DISPLAY*/
@media screen {
    .display-flex {
        display: flex;
        display: -webkit-flex;
    }
}

/*FLEX*/
@media screen {
    .flex-36px-1-1 {
        flex: 1;
    }
}

/*FONT SIZE*/
@media screen {
    .font-size-14px {
        font-size: 14px;
    }
}

/*HEIGHT*/
@media screen {
    .height-36px, [data-height="36px"] {
        height: 36px;
    }

    .height-100pct {
        height: 100%;
    }
}

/*HEIGHT*/
@media screen {
    .line-height-36px {
        line-height: 36px;
    }
}

/*MARGIN*/
@media screen {
    .margin-top-36px {
        margin-top: 36px
    }
}

/*POSITION*/
@media screen {
    .position-fixed {
        position: fixed;
    }
}

/*WIDTH*/
@media screen {
    .width-100pct {
        width: 100%;
    }
    
    .width-36px, [data-width="36px"] {
        width: 36px;
    }

    .width-160px {
        width: 160px;
    }
}

/*Z-INDEX*/
@media {
    .z-index-5 {
        z-index: 5;
    }
}