<blocks class="min-height-100vh" data-backdrop-blur="10px">
    <block class="height-100pct justify-content-center">
        <picture data-backdrop-filter="blur(10px)" data-background-color="rgba(255,255,255,0.5)" data-tap="rout.ed.close()"></picture>
        <column class="padding-y-50px" data-max-height="calc(100% - 120px)">
            <card>
                <picture></picture>
                <form class="border-radius-20px flex-direction-column flex-unset font-size-13px margin-x-auto padding-y-10px width-300px" id="my-login" onsubmit="controller.sign.in(event)">
                    <box>
                        <row>
                            <text></text>
                        </row>
                    </box>
                </form>
            </card>
        </column>
    </block>
</blocks>
