/*BACKGROUND COLOR*/
@media screen {
    .background-color-000 {
        background-color: #000;
    }

    .background-color-1d2327 {
        background-color: #1d2327;
    }

    .background-color-333 {
        background-color: #333;
    }
}

/*BORDER COLOR*/
@media screen {
    .border-1px-solid {
        border: 1px solid;
    }
    
    .border-2px-solid {
        border: 2px solid;
    }
}

/*BORDER RADIUS*/
@media screen {
    .border-radius-5px {
        border-radius: 5px;
    }
    
    .border-radius-10px {
        border-radius: 10px;
    }
    
    .border-radius-20px {
        border-radius: 20px;
    }
}

/*BOX SHADOW*/
@media screen {
    .box-shadow-0-1px-6px-0, [data-box-shadow="0 1px 6px 0"] {
        box-shadow: 0 1px 6px 0;
    }
}

/*BOX SIZING*/
@media screen {
    .box-sizing-border-box {
        box-sizing: border-box;
    }
}


/*COLOR*/
@media screen {
    .color-fff {
        color: #fff;
    }
}

/*COLUMNS*/
@media screen {
    [data-columns] {
        display: grid;
    }

    [data-columns="4"] {
        grid-template-columns: repeat(4, 1fr);
    }

    [data-columns="2"] {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 960px) {
        [data-960px-columns="2"] {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        [data-tablet-columns="1"] {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

/*DISPLAY*/
@media screen {
    .display-flex {
        display: flex;
        display: -webkit-flex;
    }

    .display-none {
        display: none;
    }
}

/*FLEX*/
@media screen {
    .flex-36px-1-1 {
        flex: 1;
    }
}


/*FLEX GROW*/
@media screen {
    .flex-grow-1 {
        flex-grow: 1;
    }
}

/*FONT SIZE*/
@media screen {
    .font-size-14px {
        font-size: 14px;
    }
    
    .font-size-24px {
        font-size: 24px;
    }
}

/*FONT WEIGHT*/
@media screen {
    .font-weight-bolder {
        font-weight: bolder;
    }
}

/*HEIGHT*/
@media screen {
    .height-36px, [data-height="36px"] {
        height: 36px;
    }

    .height-100pct {
        height: 100%;
    }
}

/*HEIGHT*/
@media screen {
    .line-height-36px {
        line-height: 36px;
    }
    
    .line-height-50px {
        line-height: 50px;
    }
}

/*JUSTIFY CONTENT*/
@media screen {
    .justify-content-center {
        justify-content: center;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }
}

/*MARGIN*/
@media screen {
    .margin-auto {
        margin: auto;
    }
    
    .margin-bottom-20px {
        margin-bottom: 20px;
    }

    .margin-left-20px {
        margin-left: 20px;
    }

    .margin-top-20px {
        margin-top: 20px;
    }

    .margin-left-auto {
        margin-left: auto;
    }

    .margin-left-260px {
        margin-left: 260px;
    }

    .margin-left-280px {
        margin-left: 280px;
    }
    
    .margin-top-36px {
        margin-top: 36px
    }
    
    .margin-top-auto {
        margin-top: auto;
    }

    .margin-top-70px {
        margin-top: 70px;
    }
}

/*MIN HEIGHT*/
@media screen {
    .min-height-100pct {
        min-height: 100%;
    }
    
    .min-height-100vh {
        min-height: 100vh;
    }
}

/*PADDING*/
@media screen {
    .padding-20px {
        padding: 20px;
    }
    
    .padding-x-20px {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*POSITION*/
@media screen {
    .position-fixed {
        position: fixed;
    }
}

/*TEXT ALIGN*/
@media screen {
    .text-align-center {
        text-align: center;
    }

    .text-align-right {
        text-align: right;
    }
}

/*WIDTH*/
@media screen {
    .width-100pct {
        width: 100%;
    }
    
    .width-36px, [data-width="36px"] {
        width: 36px;
    }

    .width-160px {
        width: 160px;
    }

    .width-240px {
        width: 240px;
    }

    .width-300px {
        width: 300px;
    }
}

/*Z-INDEX*/
@media {
    .z-index-5 {
        z-index: 5;
    }
}